@{
    ViewData["Title"] = "Home Page";
}
@model Woods.Models.List_Trail
<style>
  
.form_top {padding: 2rem;}
tr {border-bottom:1px double aqua; width: 8rem;}
.head {border-bottom: 1px double aqua;padding: 2rem;}
   h1 {color: rgb(58, 129, 130);}
   a{text-decoration: none}

    
</style>




<div class="form_top">

<table class="Padding_Please">
    <legend><h1 class="head">Hiking Trails</h1></legend>
    <tr>
    
    <th>Trail Name</th>
    <th>Description </th>
    <th> Trail Length </th>
    <th> Elevation Gain </th>
    <th>Latitude</th>
     <th>Longitude</th>
    </tr>
     @foreach(var trail in Model.Trails)
            {
                  <tr>
                    <td><a href="/trails/@trail.Id">@trail.Trail_Name</a></td>
                    <td>@trail.Description</td>
                    <td>@trail.Trail_Length</td>
                    <td>@trail.Elevation_Change</td>
                    <td>@trail.Latitude</td>
                    <td>@trail.Longitude</td>
                </tr>
            }
