@{
    ViewData["Title"] = "Login";
}
@model TheWall.Models.User



<style>
    .Wide_Butt {margin-left:30%;color: rgb(57, 57, 57);width: 50%;margin-top:5%;  }

    .form_top{  width: 40%; vertical-align: top; display: inline-block; color: rgb(57, 57, 57)}
    #Color_Please{color: rgb(57, 57, 57); }
    .form_top2{  margin-right: -10rem;width: 49%; vertical-align: top;display: inline-block;margin-top:5%;}
    .Wide_Butt:hover {color: rgb(58, 195, 232);}
    .head {
        margin-left: 10rem; margin-right: -10rem;
    }
    #Color_Please[value="buzz"]:hover{ color: rgb(58, 195, 232)}
</style>

 @if(!string.IsNullOrEmpty(ViewBag.firstname)){

<div class="form_top2">
        <h2 class="Padding_Please" id="Color_Please">Thank You for visiting us. Are you ready to start a <div id="Color_Please" value="buzz">buzz?</div></h2>
        
        <h3><button asp-action="Redirect" class="Wide_Butt">Traverse The Wall</button></h3>
        
</div>
       
        
<div class="form_top">

<table class="Padding_Please">

    <h1 class="head">Current Users</h1>
    <tr>
    
    <th>First Name</th>
    <th>Last Name </th>
    <th>Email </th>
    </tr>

@{

  
    @foreach(var user in ViewBag.allUsers)
    {
         <tr>
        @foreach(var kvp in user)
        {
           
            if(@kvp.Key == "first_name")
            {
            
            <td>@kvp.Value</td>
       
            }
            if(@kvp.Key == "last_name")
            {
            
            <td>@kvp.Value</td>
       
            }
            if(@kvp.Key == "email")
            {
            
            <td>@kvp.Value</td>
            }
        }
         </tr>
    }


} 

</table>
</div>


}




    @if(@ViewBag.firstname == null){
<div id="LogReg">

<form asp-action="Login" asp-controller="Home" method="post" class="form-align">
     <h1>Login</h1>
    <span asp-validation-for="Email"></span>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password">
    </div><BR><BR><BR>
    <input type="submit" value="Login">
</form>



<form asp-action="Register" asp-controller="Home" method="post" class="form-align">
    <h1>Register</h1>
    <div class="form-group">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName">
    </div>
    <div class="form-group">
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName">
        </div>
    <div class="form-group">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password">
    </div>
    <div class="form-group">
        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm"></label>
        <input class="form-control" asp-for="Confirm">
    </div><BR><BR>
    <input id="button" type="submit" value="Submit">
</form>
</div>
    

}

